/* Muhammad Yusuf Khairan_202432061 */

body{
    background-color: #f0f2f5;
    font-family: Verdana;
    margin: 0;
}

header{
    background: #476EAE;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover{
    color: yellow;
}

main{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.reg-form{
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    border-top: 5px solid #476EAE;
}

fieldset{
    border: none;
}

legend{
    font-size: 1.5em;
    color: #476EAE;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;
}

input[type="text"],
select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background: #476EAE;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

button:hover{
    background: #2f4f88;
}